In [1]:
#OBJECT TYPES IN PYTHON
#LISTS, DICTIONARIES, FILES, SETS, PROGRAM UNIT TYPES
#NUMBERS, STRINGS, TUPLES, OTHER CORE TYPES, IMPLEMENTATION RELATED TYPES

#TYPE CONVERSION IN PYTHON
#IMplicit type conversion  -- python automatically converts from one data type to another data type
#Explicit type conversion  -- user explicitly converts using predefined fns like int (a, base), float(), chr(number) tuple(),
                              #set(), list(), dict(), etc

#ord() - accepts a string of unit length as an argument and returns the unicode equivalence of passed argument 
#hex() - converts int to hexadecimal
#oct() - int to octal
#complex(real, imaginary) - provide real and imaginary part
#replace(,)

In [4]:
#Number objects
num = 2
type(num)

int

In [6]:
2**4   # ** is used to represent exponent operator

16

In [8]:
import math
math.pi

3.141592653589793

In [3]:
import random
random.random()

0.7194732900671447

In [1]:
#string objects in python

A = "India"
print(A[0])
print(A[-1])
print(A[1:])
print(A[:])
print(A +"xyz")
print(A*7)

A.replace('ia', 'xyz')

I
a
ndia
India
Indiaxyz
IndiaIndiaIndiaIndiaIndiaIndiaIndia

'Indxyz'

In [9]:
#List objects in python
#appned(), pop()

l1 = [101, 'America', 2.05]
print(l1[1])

print(l1[:-1]) #excludes the last index and prints the other two indexes values ***
print(l1[-1])
l1.append('USA')
print(l1)
l1.pop(1)
print(l1)
l1.reverse()
print(l1)

America
[101, 'America']
2.05
[101, 'America', 2.05, 'USA']
[101, 2.05, 'USA']
['USA', 2.05, 101]

In [5]:
#DICTIONARIES
dict1 = {1:"lion", 2: "Tiger", 3:"Mouse"}
print(dict1)
print(dict1.keys())
print(dict1.values())

dict1[4] = "cat"           #to append
print(dict1)
dict1[1] = "cheetah"
dict1

#remove?

{1: 'lion', 2: 'Tiger', 3: 'Mouse'}
dict_keys([1, 2, 3])
dict_values(['lion', 'Tiger', 'Mouse'])
{1: 'lion', 2: 'Tiger', 3: 'Mouse', 4: 'cat'}

AttributeError: 'dict' object has no attribute 'remove'

In [14]:
#TUPLE OBJECTS
T1 = (1,2,3,4)
print(len(T1))

T2 = T1+(7,8)
print(T2)

print(T2[3])

4
(1, 2, 3, 4, 7, 8)
4

In [2]:
#FILE OBJECTS
#to create a file in python using jupyter notebook

f1 = open('C:/Users/aniru/OneDrive/Documents/ObjectTypes/data.txt', 'w')  #changed \ to /
f1.write('Hello world\n')
f1.write('Welcome to python programming\n')
f1.close()

In [1]:
#SETS

s = set('India')
s1 = set(['u', 's','a'])
print(s,s1)
print(s&s1)
print(s|s1)
print(s-s1)

{'a', 'I', 'd', 'i', 'n'} {'s', 'u', 'a'}
{'a'}
{'I', 's', 'i', 'd', 'n', 'u', 'a'}
{'I', 'n', 'i', 'd'}

In [ ]:
#We can't add string to an integer
a = 7
b = '2'
#c = a+b
#c

#to fix this 
c = a+int(b)
c

In [11]:
a = 50
comp_a = complex(a)
print(comp_a)

(50+0j)

In [18]:
#string to tuple
s = "India"
ts = tuple(s)
print(ts)
print(list(ts))

('I', 'n', 'd', 'i', 'a')
['I', 'n', 'd', 'i', 'a']

In [2]:
a = 10
b = bin(a)
c = hex(a)
d = oct(a)
print(b)
print(c)
print(d)

0b1010
0xa
0o12

In [7]:
#NUMBER TO CORRESPONDING ASCII CONVERSION  #*****
#chr() function returns a string from a Unicode code integer.

n1 = 76
chr(n1)

'L'

In [4]:
#STRING TO UNICODE
#COMPUTERS ON BASIC LEVEL DEAL WITH NUMBERS. lETTERS THAT APPEAR ON COMPUTER ARE STORED BY COMPUTERS AS A LIST OF NUMBERS
#SO THE UNICODE STANDARD PROVIDES A UNIQUE NUMBER FOR EVERY CHARACTER AND SUPPORTS MULTIPLE LANGUAGES AND ALL SPECIAL CHARACTERS

s  = 'A'
s1 = '7'
r = ord(s)
print(r)
ord(s1)

65

55