In [1]:
#A STRING(str datatype) IN PYTHON IS AN OBJECT THAT REPRESENTS A SEQUENCE OF CHARACTERS
#we can create sting using '' or ""
#''' are used for multiline strings or doc strings ****

In [4]:
str1 = 'Hi sam'
print(str1)
print(type(str1))

Hi sam
<class 'str'>

In [11]:
str2 = '''Hi everyone
today we will learn
strings in python'''
print(str2)

Hi everyone
today we will learn
strings in python

In [1]:
#Indexing
str1 = "Hello people"
print(str1[0])
print(str1[:])
print(str1[1:8])
print()
print(str1[:-1])
print(str1[::-1]) #reverses the string
print(str1[::-2])   #****** reverses the string and prints the reserved string with step size 2
print(str1[::2]) #step size two

H
Hello people
ello pe

Hello peopl
elpoep olleH
epe le

In [7]:
print(str1[-2:]) # prints last two element

le

In [30]:
#REASSINGN STRINGS
#PYTHON DOESNT ALLOW YOU TO REASSIGN A STRING
#STRINGS ARE IMMUTABLE IN PYTHON

str1[3] = '0'

TypeError: 'str' object does not support item assignment

In [33]:
#DELETE A STRING

str2 = 'Python programming'
del str2
print(str2)  #gives error because the string is deleted

NameError: name 'str2' is not defined

In [6]:
#STRING OPERATIONS
str1 = 'python'
str2 = 'programming'
print(str1 *3)
print(str1 +str2)

#to check if a specific character is present in a string or not we can use in operator
print('w' in str1)
print('o' in str1)
print('ro'in str2)

#WE CAN ALSO PRINT A RAW SRING USING r ALPHABET   ****
print(r'c://python 3.7')

pythonpythonpython
pythonprogramming
False
True
True
c://python 3.7

In [45]:
#FORMAT METHODS
print("{} and {} are best friends".format("james", "brad"))  #python replaces the curly braces with names
print("{1} and {0} are best friends". format("james", "brad"))
print("{a} and {b} are best friends". format(a = "james",b = "brad"))

james and brad are best friends
brad and james are best friends
james and brad are best friends

In [8]:
name = "Angela"
salary = 100000
print("Her name is %s\nHer salary is %d" %(name,salary))

Her name is Angela
Her salary is 100000

In [10]:
str1 = "learn python"
str2 = str1.capitalize()   #Makes first letter capital
print("Old value:", str1)
print("New value:", str2)
print(str1.upper())
print(str1.lower())
s = 20

Old value: learn python
New value: Learn python
LEARN PYTHON
learn python
hello 20

In [3]:
str1 = "HELLO WORLD"
str2 = str1.casefold()     #converts upper  case to lower case 
print(str2)

str3 = "hello there" #used to capitalize the first letter of each word in a string
str3.title()

hello world

'Hello There'

In [59]:
str1 = "python programing"
str2 = str1.count('n')
print("occurances:", str2)

occurances: 2

In [61]:
#REPLACE
str1 = "hamberg is located in france"
str2 = str1.replace("france", "germany")
print(str2)

hamberg is located in germany

In [13]:
#SPLIT FUNCTION
#We can split the values or each word in a string as seperate word and store it in the form of a list
str1 = "Hamburg is located in Germany"
str2 = str1.split()
print(str2)

['Hamburg', 'is', 'located', 'in', 'Germany']