In [ ]:
#BUILT IN FNS -PRINT(), POW(), ABS(), ROUND(), LEN(), RANGE(), NEXT(), MAX(), SLICE(), SORTED()
#USER DEFINED FNS -
# def my_function(parameters):
#     function_block
# return expression

#uses: avoid rewriting, reusability, we can call fns multiple times

In [1]:
#BUILT IN FNS
a = abs(10.75)
print(a)

b = abs(-10.5)
print(b)          #abs() returns absolute value of a number which is always positive

10.75
10.5

In [ ]:
#len()
list1 = [1,2,3,4,5]
print(len(list1))

In [1]:
#all
#The all fn returns true if all items in an iterable object is true
my_list = [0,1,0]
x = all(my_list)
x

False

In [2]:
#sum
#used to get sum of nums of an iterable
s = sum([20,35,70])
s1 = sum((7,5,9))
print(s)
print(s1)

125
21

In [ ]:
#max() and min()
m1 = max(7,14,4,56,54,6)
m2 = max({7,90,3,55,23,645,5})
print(m1)
print(m2)

m3 = min([7,14,4,56,54,6])
m4 = min({7,90,3,55,23,645,5})
print(m3)
print(m4)

In [3]:
#iter()
#Python iter() returns an iterator for the given object 
#The iter fn creates an object which can iterate one element at a time

#and the next() returns next item in an iterator

mylist = iter(['I', 'N', 'D', 'I', 'A'])
x = next(mylist)
print(x)

x = next(mylist)
print(x)

x = next(mylist)
print(x)

I
N
D

In [ ]:
#pow()
x1 = pow(3,3)
x2 = pow(2,4)
print(x1,x2)

In [4]:
#range()

x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [ ]:
x = range(40,50,2)
for n in x:
    print(n)

In [ ]:
#round()
#Round fn rounds a number to the given no of digits

x = round(8.62475, 2)
x

In [ ]:
#sorted()
#sorted fn returns a sorted list of specified iterable object

a = ['I', 'N', 'D', 'I', 'A']
x = sorted(a)
print(x)

In [ ]:
a = ['I', 'N', 'D', 'I', 'A']
x = sorted(a, reverse = True)
print(x)

In [2]:
#slice()
#slice fn returns a portion of an iterable as an object of the slice class based on the specified range

a = ("H","e","l","l","o",'w','o',"r","l","d")
x = slice(5)
a[x]

('H', 'e', 'l', 'l', 'o')

In [ ]:
#USER DEFINED FNS

def func1():
    print('hello world')
    
func1()

In [5]:
def hlo():
    name = (input("enter your country name: "))
    print("hello "+ name)
hlo()

enter your country name: aa
hello aa

In [6]:
#fns with parameters

def ft_to_cm(ft):
    cm = ft *30.48
    return cm

ft_to_cm(5.8)

176.784

In [ ]:
def add(x,y):
    sum = x+y
    return sum
print(add(50,40))

In [ ]:
#abs of num
def absolute(x):
    if x >=0:
        return x
    else:
        return -x
    
print(absolute(-50))

In [ ]:
#factorial of a num
def factorial(x):
    if x ==0:
        return 1
    else:
        return x* factorial(x-1)

factorial(5)

In [9]:
#default arg
def welcome(name = "paul"):
    print("hello", name)
    
welcome()

hello mark

In [10]:
def welcome(name = "paul"):
    print("hello", name)
    
welcome("sam")

hello sam

In [ ]:
#multiple paramets
def msg(name1, name2, name3):
    print('Hello ', name1, ', please tell ',name2, ' that', name3, 'is waiting!')
    
msg("ben", "gwen", "kevin")

In [13]:
#SCOPE OF VARIABLES IN A FN
#SCOPE COULD BE LOCAL OR GLOBAL

def func3():
    z = 7
    print(z)
    
func3()

7

In [ ]:
print(z)
#throws an error because the variable z is defined locally inside the func3()
#we cant access z f]outside that fn
#To overcome this issue func4()

In [14]:
z = 7       # z is a global variable
def func4():
    print(z)
    
func4()

7

In [17]:
z =7
def func5():
    z = z+1    #we cant change the value inside a local scope
    print(z)
func5()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

In [ ]:
z = 7      
def func6():
    global z  #***
    z = z+1
    print(z)
    
func6()

In [ ]:
#If we dont know the no of argumets we need then we can use astrix

def welcome(*names):   #***
    print('Hello', names[0], ',', names[1], ',', names[2])  #access with index
welcome('steve', 'bill', 'peter')

In [ ]:
#Area of circle and sphere
pi = 3.14
def circleArea(r):
    return pi*r**2
def sphereArea(r):
    return 4*pi*r**2

def main():
    print(circleArea(15))
    print(sphereArea(10))
main()

In [1]:
marks = [12, 56, 32, 98, 12, 45, 1, 4]

for i in enumerate(marks):
    print(i)

# enumerate() returns the index and value of each element of a sequence

(0, 12)
(1, 56)
(2, 32)
(3, 98)
(4, 12)
(5, 45)
(6, 1)
(7, 4)

In [2]:
#Enumerate()
# Enumerate fn returns a tuple containing the index and value of each
#  element in the sequence. We can use the for loop to unpack these
#  tuples and assign them to variables

marks = [12, 56, 32, 98, 12, 45, 1, 4]

for index, mark in enumerate(marks):
    print(mark)
    if(index == 3):
        print('awesome')

12
56
32
98
awesome
12
45
1
4

In [8]:
# While using enumerate We can also change the starting index of 
# sequence by using start parameter

marks = [12, 56, 32, 98, 12, 45, 1, 4]

for index, mark in enumerate(marks, start = 1):
    print(mark)
    if(index == 3):
        print('awesome')

12
56
32
awesome
98
12
45
1
4