In [7]:
#IF STATEMENT

# if (condition):
#     if  condition:
#     elif condition:
#     else condition:
#
# elif ():
#     statement
#
# else:
#     statements

total = int(input("enter the amount"))
state = input("enter the state")

if state == 'Texas':
    if total<=150:
        print("shipping charges is 50$")
    elif total>150 and total<=250:
        print("shipping charges is 20$")
    else:
        print("shipping charges is 5$")
elif state == "LA":
    if total <=150:
        print("shipping charges is 50$")
    elif total >150 and total <=250:
        print("shipping charges is 20$")
    else:
        print("shipping charges is Free")
elif state == "virginia":
    if total <= 150:
        print("shipping charges is 50$")
    elif (total>150 and total <=250):
        print("shipping charges is 20$")
    else:
        print("shipping charges is 5$")
else:
    print("Invalid state")

enter the amount175
enter the stateLondon
Invalid state

In [1]:
#WHILE LOOP

# while condition:
#     statements

i = 0
while i<5:
    i = i+1
    print(i, end = " ")     #** changed new line escape sequence to space to print in one line

0 1 2 3 4

In [1]:
alpha = ['d','f', 'c']
alpha+= 'ka'                         #****
print(alpha)

['d', 'f', 'c', 'k', 'a']

In [4]:
while True:
    name = input()
    if name == 'kevin':
        break
print("thankyou, u entered correct name")

kevin
hi
thankyou, u entered correct name

In [6]:
#LCM OF 4 AND 7
x = 0
while True:
    x+=1
    if not(x%4 or x%7):
        break
print(x, 'is divisible by both 4 and 7')

28 is divisible by both 4 and 7

In [9]:
i = 0
while i<10:
    i+=1
    if i==6:
        continue  #continues the execution and skips the current step where x=6
    print(i, end = " ")

1 2 3 4 5 7 8 9 10

In [11]:
#we can also use else in while loop
i=1
while i<5:
    print(i)
    i+=1
else:
    print(i,  "is not less than 5")

1
2
3
4
5 is not less than 5

In [1]:
#we can use inbuilt fns inside a while loop
#Lets use pop fn and remove the elements in list

a = [1,2,3,4,5]
while a:
    print(a.pop())  #pops element present at the end of the list
else:
    print('There are no elements left in the list')

5
4
3
2
1
There are no elements left in the list

In [14]:
#PASS keyword
# To pass a block of code
try:
    
    a=[1,2,3,4,5,6,7,8,9,10]
    for i in a:
        if a[i]%2!=0:
            pass
        else:
            print(a[i], end=' ')
except:
    pass

2 4 6 8 10

In [3]:
#avg of positive nums

num = 0
count = 0
sum = 0
while num>=0:
    num = int(input())
    if(num>=0):
        count+=1
        sum = sum+num
avg = sum/count
print(avg)

5
4
-1
4.5

In [23]:
#user gives a num b/w a certain range and 
#based on a random input generator from the program we are going to guess the num

import random
n = random.randint(1,100)
print(n)
guess = int(input("Enter integer b/w 1 and 100: "))
while n!= "guess":
    if guess<n:
        print('YOur guess is low')
        guess = int(input("Enter b/w 1, 100: "))
    elif guess>n:
        print('your guess is high')
        guess = int(input("Enter b/w 1, 100: "))
    else:
        print("You guessed it correctly")
        break
    print()

29
Enter integer b/w 1 and 100: 1
YOur guess is low
Enter b/w 1, 100: 55

your guess is high
Enter b/w 1, 100: 29

You guessed it correctly

In [11]:
#FOR LOOP (TO ITERATE OVER A SEQUENCE OF ELEMENTS)
#FOR LOOP USES RANGE FN TO ITERATE
#when last element is reached the loop terminates

# for iterator_ variable in sequence:  #sequence can be range, list, tuple or dictionary
#     statements

s = 'Hello world'
for i in s:
    print(i, end ='*')

H*e*l*l*o* *w*o*r*l*d*

In [14]:
#FOR LOOP IN A LIST

programming = ['Java', 'Python', 'Ruby', 'HTML']
for iter in programming:
    print(iter)

Java
Python
Ruby
HTML

In [30]:
#FIND AVG OF LIST OF NUMS
list_num = [20,25,10,50,45]
sum = 0
for i in list_num:
    sum = sum + i
avg = sum/len(list_num)
print(avg)

30.0

In [32]:
#TUPLE USING FOR LOOP

num = (30,45,60,50, 70)
sum = 0
for i in num:
    sum = sum + i
avg = sum/len(num)
print(avg)

51.0

In [35]:
#Range fn
for i in range(1,10, 2):    #step size
    print(i, end = " ")

1 3 5 7 9

In [38]:
#program to print table of a given num

n = int(input())
for i in range(1, 11):
    mul = i*n
    print(mul, end = ",")

5
5,10,15,20,25,30,35,40,45,50,

In [1]:
#we can also use range fn with sequence of items
#len fn can be combined with range fn to iterate through sequence using indexing
list2 = ['c++', 'java', 'python', 'R']
for i in range(len(list2)):
    print('Hello', list2[i])

Hello c++
Hello java
Hello python
Hello R

In [9]:
#NESTED FOR LOOPS IN PYTHON
companies = ['google', 'Apple', 'PWC', 'Uber']
for i in companies:
    print("we will display each letter of " +i)
    for letter in i:         #****
        print(letter)

we will display each letter of google
g
o
o
g
l
e
we will display each letter of Apple
A
p
p
l
e
we will display each letter of PWC
P
W
C
we will display each letter of Uber
U
b
e
r

In [10]:
#FOR LOOP WITH ELSE CLAUSE
for i in range(0,10,3):
    print(i)
else:
    print("The loop has completed execution")

0
3
6
9
The loop has completed execution

In [13]:
#BREAK IN FOR LOOP
#In python you can break for loop and end it before it run all the elements in the iterable using the break statement

for i in range(1,10):
    if(i == 6):
        break
    print(i)

1
2
3
4
5

In [17]:
#continue in for loop
for i in range(1, 10):
    if(i == 6):          #skips 6
        continue
    print(i, end = ' ')

1 2 3 4 5 7 8 9

In [20]:
#program to display total goals a player has scored
player_name = "carmelo"
goals = {'Edison':14, 'Bernat':3, 'carmelo':7}
for player in goals:
    if player == player_name:
        print(goals[player])
        break
else:
    print('No player found with that name')

7

In [22]:
#cube of a number 
num = [1,2,3,4,5]
cube = []
for i in num:
    cube.append(i**3)
print(cube)

[1, 8, 27, 64, 125]

In [29]:
#PATTERN PRINTING
#right angled triangle

n = int(input("Enter the no of rows"))
for i in range(0,n):
    for j in range(0, i+1):
        print("*", end = "")
    print()

Enter the no of rows5
*
**
***
****
*****

In [16]:
my_string = "Python"
my_string = my_string.replace('o', '0')
my_string
#strings are immutable

'Pyth0n'