In [1]:
#list, tuple, range, dictionary, set

#find(), split(), binary datatype

In [1]:
#NUMERIC TYPES : int, float, complex
#TEXT TYPES : strings
#SEQUENCE TYPES : LIST, TUPLE, RANGE
#MAPPING TYPE : dict
#SET DATATYPE : set
#BOOLEAN TYPE :bool
#BINARY TYPES :bytes, bytearray, memoryview

In [1]:
a = 10 #int
a= 1 + 2j #complex
print(a.real) # to extract real value of complex number
print(a.imag) #for imaginary

1.0
2.0

In [2]:
#TYPE CASTING
x = 7.8
y = int(x)
print(y)

#boolean
c = True  #T capital
type(c)

str1 = "Hello world"
print(str1[-4])

7
o

In [4]:
#slicing
print(str1[0:5])

#find
print(str1.find("e"))   #maybe find is only available for strings

Hello
1

In [2]:
#list datatype
split1 = "This,is,orange"
print(type(split1))       #string
l1 = split1.split(",")
print(l1)
print(type(l1))          #list

<class 'str'>
['Thi', ',i', ',orange']
<class 'list'>

In [4]:
list1 = ['a', '1', 'hello']
list1

['a', '1', 'hello']

In [5]:
list2 = ['2', 'world']
list1 +=list2
print(list1)
print(list1*2)

['a', '1', 'hello', '2', 'world']
['a', '1', 'hello', '2', 'world', 'a', '1', 'hello', '2', 'world']

In [38]:
#tuple
tup1 = ('a', 'b', 'c', 'd')
type(tup1)

tup2 = ('e', 'f', 'g')
print(tup1 + tup2)

print(tup1 *2)

('a', 'b', 'c', 'd', 'e', 'f', 'g')
('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [3]:
#Mapping - dictionary

dict1 = {1:"lion", 2:"tiger", 3:"dog"}
print(dict1)
print(type(dict1), len(dict1))

{1: 'lion', 2: 'tiger', 3: 'dog'}
<class 'dict'> 3

In [4]:
#set
#set is an unordered collection of unique values
set1 = {1,1,2,3,3,4,5}
set1

{1, 2, 3, 4, 5}

In [6]:
set2 = {'a', 'b', 3, 4}

print(set1 | set2) #or operation

print(set1 & set2)

print(set1 - set2)  # returns unique values present in set 1 and not present in set 2

{1, 2, 3, 4, 5, 'b', 'a'}
{3, 4}
{1, 2, 5}

In [49]:
#range

x = range(4)
print(type(x))
print(x)

<class 'range'>
range(0, 4)

In [10]:
#Binary datatypes

x = b"Hello world"
print(x)
print(type(x))

b'Hello world'
<class 'bytes'>

In [13]:
x[4]  #*** returns the ascii value of character present at fourth index as x is binary datatype
print(x[4])

111

In [1]:
#TYPE CONVERSION

s = " Messi is from argentina"
print(type(s))

l1 = list(s)
print(l1)
print(type(l1))

s1 = set(l1)
print(s1)
print(type(s1))

<class 'str'>
[' ', 'M', 'e', 's', 's', 'i', ' ', 'i', 's', ' ', 'f', 'r', 'o', 'm', ' ', 'a', 'r', 'g', 'e', 'n', 't', 'i', 'n', 'a']
<class 'list'>
{'m', 't', 's', 'r', 'e', 'M', 'o', ' ', 'a', 'n', 'i', 'f', 'g'}
<class 'set'>