In [9]:
#LIST
# A list is a collection of objects or elements of different datatypes 
#and these elements are enclosed with in a [] and seperated by commas
#Items in the list have a defined order that wonâ€™t change unless you explicitly change it.
#Elements can be accessed by index values
#Lists are mutable and allow duplicate values
# we can also create a list by using inbuilt fn list()

#sets and dictionaries are unorderd.


list1 = [1, 'adam', [1, 0, 7], 'usa', 'usa', 1]
list2 = ['a', 'b', 'c', 10, 20]

list1.append(2) #inserts an element at the end of the list
print(list1)
list1.insert(2, 'hello')
print(list1)
print(list1[1][2])

list1.extend(list2) #it adds the elements of list2 at the end of the currnet list
list1.extend(['kiwi','watermelon'])
print(list1)
print(list1.index('adam'))    #index() returns the index of element

l=[1,2,3,3,4,5]
print(sum(l))
print(l.pop())
print(l.pop(0))
print(l)
print(l.count(3))  #prints the no of ocuurances of 3

[1, 'adam', [1, 0, 7], 'usa', 'usa', 1, 2]
[1, 'adam', 'hello', [1, 0, 7], 'usa', 'usa', 1, 2]
a
[1, 'adam', 'hello', [1, 0, 7], 'usa', 'usa', 1, 2, 'a', 'b', 'c', 10, 20, 'kiwi', 'watermelon']
1
18
5
1
[2, 3, 3, 4]
2

In [38]:
list3 = ['LA', 'Tokyo', 'paris', 'texas', 'London']
del list3[1]
print(list3)
list3.remove('paris')
print(list3)
list3.pop(2)
print(list3)

['LA', 'paris', 'texas', 'London']
['LA', 'texas', 'London']
['LA', 'texas']

In [40]:
list2.clear()
list2

[]

In [43]:
list1.reverse()
print(list1)
print(list1.index('watermelon'))

['watermelon', 'kiwi', 20, 10, 'c', 'b', 'a', 2, 1, 'usa', 'usa', [1, 0, 7], 'hello', 'adam', 1]
0

In [47]:
print(list1.count('usa'))

2

In [3]:
list4 = [1,5,6,4,36,7,46,66]
list5 = ['a', 'abc', 'fhdu']
list4.sort()
list5.sort()
print(list4)
print(list5)
#sorting of list containing str and int is not possible

[1, 4, 5, 6, 7, 36, 46, 66]
['a', 'abc', 'fhdu']

In [3]:
#TUPLE
#TUPLE IS ALMOST SAME AS LIST BUT TUPLE IS 'IMMUTABLE'
#ELEMENTS ARE ENCLOSED IN () AND SEPERATED BY COMMAS
#TUPLES ARE ORDERD LIKE LIST AND CAN BE ACCESSED BY INDEX

tup1 = (1, 'adam', 107, 'USA')
tup2 = ('banana', 'orange', 'apple', 'berry')

print(tup1[1])
print(tup1.index('adam'))
print(tup1[1:3])
print(tup1*2)
print(tup1.count('adam'))
print(tup1+tup2)

tup3 = ('orange') #if one element written then its considerd as a string not a tuple
print(type(tup3))  

tup4 = ('orange',)   #because of the comma after the first element its considerd as a tuple
type(tup4)

adam
1
('adam', 107)
(1, 'adam', 107, 'USA', 1, 'adam', 107, 'USA')
1
(1, 'adam', 107, 'USA', 'banana', 'orange', 'apple', 'berry')
<class 'str'>

tuple

In [6]:
#TUPLE IS IMMUTABLE SO WE CANT USE APPEND METHOD TO TUPLE DIRECTLY
#TO APPEND ELEMENTS TO TUPLE WE WILL TYPECAST THE TUPLE TO LIST AND THEN APPEND ELEMENTS

y = list(tup2)
y.append('guava')
tup2 = tuple(y)
print(tup2)

('banana', 'orange', 'apple', 'berry', 'guava', 'guava', 'guava')

In [70]:
tup5 = ('cherry',)
tup5+=tup2
print(tup5)

for x in tup2:
    print(x)

('cherry', 'banana', 'orange', 'apple', 'berry', 'guava')
banana
orange
apple
berry
guava

In [7]:
#DICTIONARIES(KEY VALUE PAIR)
#COLLECTION OF ELEMENTS OF DIFFERENT TYPES STORED IN KEY VALUE FORMAT
#THESE KEY VALUE PAIRS ARE ENCLOSED IN {} AND EACH KEY IS SEPERATED FROM ITS VALUE BY COLON
#DICTIONARIES ARE ORDERD
#ELEMENTS OF DICTIONARIES CANT BE ACCESSED BY INDEX
#DICTIONARIES ARE MUTABLE AND THEY DOESNT ALLOW DUPLICATE KEYS.

dict1 = {1: 'apple', 2:'orange', 3:'banana', 4:'kiwi' }
print(dict1)
print(dict1[1])   #key
print(dict1.get(1))
print(dict1.pop(4))
dict1.popitem() #removes last element
print(dict1)

print(dict1.keys())
print(dict1.values())

dict1.update({2:'watermelon'})
print(dict1)
dict1.update({5:'Muskmelon'})
print(dict1)
print(len(dict1))
print(sorted(dict1))

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'kiwi'}
apple
apple
kiwi
{1: 'apple', 2: 'orange'}
dict_keys([1, 2])
dict_values(['apple', 'orange'])
{1: 'apple', 2: 'watermelon'}
{1: 'apple', 2: 'watermelon', 5: 'Muskmelon'}
3
[1, 2, 5]

In [81]:
for x in dict1:
    print(x)
    print(dict1[x])
print()
for x, y in dict1.items():
    print(x,y)

1
apple
2
watermelon
5
Muskmelon

1 apple
2 watermelon
5 Muskmelon

In [83]:
mydict = dict1.copy() #to copy a particular dictionary into another dictionary
print(mydict)

{1: 'apple', 2: 'watermelon', 5: 'Muskmelon'}

In [8]:
dict1.clear() #Removes all elements from the dictionary
print(dict1)

{}

In [29]:
#ARRAYS
from array import *
vals=array('i', [1,2,3,4,5])
print(vals)

for i in range(5):
    print(vals[i], end=' ')
    
chrs=array('u', ['a','b','c','d'])
print(chrs)
for i in chrs:
    print(i, end=" ")

array('i', [1, 2, 3, 4, 5])
1 2 3 4 5 array('u', 'abcd')
a b c d

In [9]:
#SETS doesnt allow duplicates

s = set('India')
s1 = set(['u', 's','a'])
print(s,s1)
print(s&s1)
print(s|s1)
print(s-s1)

s.add('usa')
print(s)

{'I', 'n', 'd', 'i', 'a'} {'a', 's', 'u'}
{'a'}
{'I', 'n', 's', 'u', 'd', 'a', 'i'}
{'I', 'n', 'i', 'd'}
{'I', 'n', 'd', 'i', 'usa', 'a'}